.grid-x{
    margin:10px;
}
.cell{
    margin:10px;
}
.custom-margin-y{
    margin: 1em;
}
.grid-container {
    margin: 2em;
}
#portrait{
    background-color:#FDA110;
}
#greeting{
    padding:15px;
}
#season{
    padding:15px;
}

#article{
    background-color:#FDA110;
}
footer{
    background-color:#FDA110;
}