.grid-x{
    margin:10px;
}
.cell{
    margin:10px;
}
.custom-margin-y{
    margin: 1em;
}
.grid-container {
    margin: 2em;
}
#portrait{
    background-color:#FDA110;
}
#greeting{
    padding:15px;
}
#season{
    padding:15px;
}

#article{
    background-color:#FDA110;
}
footer{
    background-color:#FDA110;
}
.mySlides{
    display:none;
    padding-left:30%;
        max-width: 70%;
    width: 100%;
    height: 100%;
    max-height: 70%;
}
.contact{
    padding: 1em;
}