@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.grid-x{
    margin:10px;
    font-family: 'Ubuntu', sans-serif;
}
.cell{
    margin:10px;
    font-family: 'Ubuntu', sans-serif;
}
.custom-margin-y{
    margin: 1em;
    font-family: 'Ubuntu', sans-serif;
}
.grid-container {
    margin: 2em;
    font-family: 'Ubuntu', sans-serif;
}
#portrait{
    background-color:#FDA110;
}
#greeting{
    padding:15px;
    font-family: 'Ubuntu', sans-serif;
}
#season{
    padding:15px;
    font-family: 'Ubuntu', sans-serif;
}

#article{
    background-color:#FDA110;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    background-color:#FDA110;
    font-family: 'Ubuntu', sans-serif;
}
.contact{
    padding: 1em;
    font-family: 'Ubuntu', sans-serif;
}
#section{
    font-family: 'Ubuntu', sans-serif;
}